.container {
  background-color: #111827;
  color: #fff;
  height: 100%;
}

section {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

img {
  border-radius: 5px;
}

.content {
  margin: 30px 0px;
  border-radius: 5px;
}

button {
  /* padding: topo direita baixo esquerda; */
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
}

.primary {
  background-color: #18e990;
}

.primary:hover {
  background-color: #0ec07b;
}

.secondary {
  background-color: #cc0000;
  color: #fff;
}

.secondary:hover {
  background-color: #b30000;
}

input {
  border: none;
  padding: 15px 2px;
  margin-right: 10px;
  border-radius: 5px;
}
